# Copyright 2018 <chaishushan{AT}gmail.com>. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

https://chai2010.me {
	tls chaishushan@gmail.com
	browse

	log stdout
	errors stdout
	gzip

	root /srv/chai2010.me/public
	hugo /srv/chai2010.me

	gopkg /logger https://github.com/chai2010/logger

	git {
		key  /root/.ssh/id_rsa
		path /srv/chai2010.me
		repo git@github.com:chai2010/chai2010.me.git
		then hugo --destination=/srv/chai2010.me/public
		interval 600
	}
}

http://chai2010.me, http://www.chai2010.me, https://www.chai2010.me {
	redir https://chai2010.me{uri}
}
