# Copyright 2018 <chaishushan{AT}gmail.com>. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

https://localhost, https://chai2010.me, https://chai2010.cn {
	tls chaishushan@gmail.com
	browse

	log stdout
	errors stdout
	gzip

	root /srv/chai2010.me/public

	git {
		key      /root/.ssh/id_rsa
		path     /srv/chai2010.me
		repo     git@github.com:chai2010/chai2010.me.git
		branch   gh-pages
		interval 600
	}
}

http://chai2010.me, http://www.chai2010.me, https://www.chai2010.me {
	redir https://chai2010.me{uri}
}

http://chai2010.cn, http://www.chai2010.cn, https://www.chai2010.cn {
	redir https://chai2010.cn{uri}
}
